/**
 * Name: Warsame Mahdi
 * Date: November 2, 2025
 * Section: CSE 154 AL
 * TA: Tia-Jane Zhang Fowler
 * This is the stylesheet for the passwords of the webpage. It styles the see password image button
 * to be inside the password bar and styles the password bar.
 */
#login div, #settings #account div {
  width: 183px;
  position: relative;
}

#login div input, #settings #account div input {
  margin:0 0 0 4px;
}

#login div img, #settings #account div img {
  display:  block;
  position: absolute;
  top: 1px;
  left: 145px;
  width: 30px;
  cursor: pointer;
}